body {
	background:#2c2c2c;
}
nav {

	display: flex;
    align-items: center;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: center;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
img{
	width: 100px;
}
header {
	background-color: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 2rem;


}
a {
	margin-right: 1.5rem;
}
nav a:hover{
	color: lightgreen;
}
h3{
	text-align: center;
	margin: 20px 0 20px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
}
select{
	-webkit-appearanceappearance: none;
	-moz-appearanceappearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0!important;
	background: #5c6664 ;
	background-image: none;
	flex: 1;
	padding: 0 .1em;
	color: white;
	position: center;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;


}
select::-ms-expand{
	display: none;
}
select{
	position: center;
	display: flex;
	width: 5em;
	height: 2em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .5em;
}

.select::after{
	content: '\25BC';
	position: center;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #222222;
	cursor: pointer;
	pointer-events: none;
	transition: .25s all ease;
}
.select::after{
	color: #222222;


}
h2 {

	display: flex;
	width: 20em;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 2rem;
	position: center;


}
form1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-filtro {
	margin: 32px 0;
}

.contenedor-filtro > input[type='text'] {
  padding: 8px;
  margin-right: 8px;
}

.contenedor-filtro > input[type='submit'] {
  padding: 8px;
}

format {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}
table,
td {
  border: 1px solid #000;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 80%;
}

thead {
  height: 48px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
  width: calc( 100% - 1em );
}

tbody {
  display: block;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

tbody::-webkit-scrollbar{
  width: 0.5px;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody > tr:nth-child(even) {
  background-color: #ddd;
}

tbody > tr:hover {
  background-color: #aaa;
}

td {
  padding: 16px;
}



tr > td:nth-child(1), tr > td:nth-child(2){
  width: 220px;
  text-align: center;
}

.columnaN{
  /width: 50px;/
  text-align: center;
}

.filaN{
   text-align: right;
}
