{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

  <title>consulta</title>
      <link href="{% static 'css/manufactura.css' %} " rel="stylesheet">
       <meta charset="UTF-8">

  </head>
  <body>
   <header class="header">
         <div class="logo-header">
             <img src="{% static 'img/img.png' %}" alt="">
         </div>

	  <nav>

          <a href="{% url 'consulta' %}">Consulta</a>
		  <a href="{% url 'producto' %}">Registro</a>
          <a href="{% url 'Factura' %}">Factura</a>






	   </nav>
       </header>

   <h3> Consulta Producto</h3>
    <form1>
        <h2>tipo de documento
                <select name="Consulta" id="format">
                  <option> factura</option>
                  <option> nota de entrega</option>
                  <option> guia de remision</option>
                  <option> vale de caja</option>
                  <option> nota de entrega</option>
                </select>
        </h2>
    </form1>
  <form method="post" >

          <div class="contenedor-filtro">
              </h1>Id producto</h1>
             <input type="text" name="busque" placeholder="Buscar" />
             <input type="submit" value="Buscar"/>

          </div>

   </form>
   <table id="tab">
        <thead>
        <tr>
            <td class="columnaN">CLIENTE</td>
            <td class="columnaN">PRODUCTO</td>
            <td class="columnaN">PRECIO</td>
            <td class="columnaN">CANTIDAD</td>
            <td class="columnaN">SUBTOTAL</td>
            <td class="columnaN">IVA</td>
            <td class="columnaN">TOTAL</td>

        </tr>
        </thead>
        <tbody>
        {% for fact in object_list  %}
        <tr>
            <td>{{fact.cedula.nombre}} {{fact.cedula.apellido}}</td>
            <td>{{fact.producto}}</td>
            <td class="filaN">{{fact.precio}}</td>
            <td align="center"> ............... </td>
            <td class="filaN">{{fact.cantidad}}</td>
            <td align="center"> ............... </td>
            <td class="filaN">{{fact.subtotal}}</td>
            <td align="center"> ............... </td>
            <td class="filaN">{{fact.iva}}</td>
            <td align="center"> ............... </td>
            <td class="filaN">{{fact.total}}</td>

        </tr>
          {% endfor %}

        </tbody>
    </table>


  </body>
</html>