{% extends "menu.html" %}
{% load static %}
{% block title %} Factura {% endblock %}
{% block secondNav %}
    <!DOCTYPE html>
    <html lang="en">
    <head>

        <link href="{% static 'css/factura.css' %} " rel="stylesheet">
        <script src="{% static 'js/controlador1.js' %}"></script>

        <meta charset="UTF-8">
    </head>
    <body>
    <div class="container">
        <form method="POST" class="contact" id="contact">
            {% csrf_token %}
            <h3>Factura</h3>
            <fieldset>
                <input name="usuario" placeholder="usuario" id="i1" name="usuario" class="usuario" value="{{ object.usuario }}"
                       type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input name="producto" placeholder="producto" id="i2" name="producto" class="producto" value="{{ object.producto }}"
                       type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input name="stock" placeholder="Stock" id="i3" name="stock" class="stock"value="{{ object.stock }}"
                       type="text" tabindex="2" required autofocus>
            </fieldset>
            <fieldset>
                <input name="precio" placeholder="Precio" id="i4" name="precio" class="precio" value="{{ object.precio }}"
                       type="number" tabindex="3" onkeyup="calculo()" required autofocus step="any">
            </fieldset>
            <fieldset>
                <input name="cantidad" placeholder="Cantidad" onkeyup="calculo()" id="i5" name="cantidad" value="{{ object.cantidad }}"
                       class="cantidad"
                       type="text" tabindex="4" required autofocus>
            </fieldset>
            <fieldset>
                <input name="total" placeholder="Total a pagar" id="id" name="total" class="total" value="{{ object.total }}"
                       type="text" tabindex="7" required autofocus>>
            </fieldset>
            <fieldset>
                <button type="submit" id="contact-submit"
                        data-submit="...Sending">Submit
                </button>
                <div align="center">
                </div>
            </fieldset>
        </form>
    </div>
    </body>
    </html>
{% endblock %}