{% extends "menu.html" %}
{% load static %}
{% block title %} Lista {% endblock %}
{% block secondNav %}
    <html>
    <head>
        <title>Tabla</title>
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/estilonuevo.css' %}">

    </head>
    <body>

    <form method="POST">
        <div class="datagrid">

            <table>
                <thead>
                <tr>
                    <th>usuario</th>
                    <th>producto</th>
                    <th>stock</th>
                    <th>precio</th>
                    <th>cantidad</th>
                    <th>total a pagar</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div id="paging">
                            <ul>
                                <li><a href="#"><span>Eliminar</span></a></li>
                                <li><a href="#"><span>modificar</span></a></li>
                            </ul>
                        </div>
                </tr>
                </tfoot>

                <tbody>
                {% for pro in object_list %}
                    <tr>
                        <td>{{ pro.ID }}</td>
                        <td>{{ pro.producto }}</td>
                        <td>{{ pro.stock }}</td>
                        <td>{{ pro.cantidad }}</td>
                        <td>{{ pro.precio }}</td>




                    </tr>



                {% endfor %}

                </tbody>
            </table>
        </div>


    </form>
    </tbody>
    </table>

    </div>


    </body>
    </html>

{% endblock %}